<div class="row">
	<div class="col s12 m12 l12">
		<div class="card blue-grey darken-1">
			<div class="card-img left"><%= image_tag("thumbnail-placeholder") %></div>
	    <div class="card-content white-text title">
	      <div class="game-card-title center-align "><a href="/games/<%= game.id %>"><%= game.name %></a></div>
	      <p class="truncate content"><%= game.description %></p>
	    </div>
	    <div class="card-action">
				<div id="category">
					<a href="/categories/<%= game.category_id %>"><%= Category.find(game.category_id).name %> Category</a>
				</div>
        <% if current_user %>
          <div id="friends">
            <a href="/users/<%= current_user.id %>/friends/games/<%= game.id %>">My friends that have this game</a>
          </div>
        <% end %>
				<div id="min-max">PLAYERS: MIN <%= game.min_players %> / MAX <%= game.max_players %></div>
	    </div>

	    <% if current_user && current_user.games.include?(game) %>
		    <form class="right-align" class="remove" action="/users/<%= current_user.id %>/games/<%= game.id %>/shelf/remove" method="post">
        <input type="hidden" name="_method" value="put">
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <button class="waves-effect waves-light btn blue-grey darken-4 right" type="submit" name="remove_from_shelf">Remove from Shelf</button>
      </form>
      <% elsif current_user %>
        <form class="right-align" class="remove" action="/users/<%= current_user.id %>/games/<%= game.id %>/shelf/add" method="post">
          <input type="hidden" name="_method" value="put">
          <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
          <button class="waves-effect waves-light btn blue-grey darken-4 right" type="submit" name="add_to_shelf">Add to Shelf</button>
        </form>
     	<% end %>
		</div>
	</div>
</div>
