<h1 class="center-align"><%= @game.name %></h1>
<div class="row">
  <div class="col s12 m12 l12">
    <div class="card">
      <div class="card-image">
 <!--        <img class="circle" src="http://static01.nyt.com/images/2013/03/07/us/CALHAMER2-obit/CALHAMER2-obit-articleLarge.jpg"> -->
<!--         <span class="card-title">Card Title</span> -->
      </div>
      <div class="card-content">
        <h4>Category:</h4>
        <p><%= @game.category.name %></p>
        <h4>Description:</h4>
        <p><%= @game.description %></p>
        <br>
        <h6>Minimum Players:</h6>
        <p><%= @game.min_players %>
        <h6>Maximum Players:</h6>
        <p><%= @game.max_players %>
      </div>
      <div class="card-action">
        <% if current_user %>
          <a href="/users/<%= current_user.id %>/games">Back to My Games</a>
          <a href="/games">Back to All Games</a>
        <% else %>
          <a href="/games">Back</a>
        <% end %>
      </div>

      <div class="card-action">
        <a href="/games/<%= @game.id %>/comments/new">Add comment</a>
      </div>
      <% if @game.comments.any? %>
        <p class="col s12 m12 l12"><h5>Comments:</h5></p>

        <% @game.comments.each do |comment| %>
        <p class="col s12 m12 l12"><%= comment.content %> -<em><%= comment.user.username %></em> </p>
        <% end %>
      <% end %>
      </div>


    </div>
  </div>
</div>
